fastapi
uvicorn
python-multipart
pydantic
opencv-python-headless
numpy
streamlit
requests
pymongo
scipy
mediapipe==0.10.14
protobuf==4.25.3
matplotlib
absl-py
sounddevice
flatbuffers
cffi
contourpy
cycler
fonttools
kiwisolver
ultralytics
torch
torchvision
ipython
google-cloud-storage